
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.header{

    min-height:100vh;
    max-width:100%;
    /* background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(blog1.jpeg); */
    background-position: center;
    background-size: cover;
    position: relative;

    

}





nav{

    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width:150px;
}
.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li{

    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position:relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #1a91ff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%;

}
.text-box{

width:90%;
color: #fff;
position:absolute;
top:30%;
left:50%;
transform: translate(-50%,50%);
text-align: center;

}
.text-box h1{

font-size: 70px;opacity: 1; margin-top:-30px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border:1px solid white;
    padding:12px 34px;
    font-size:13px;
    background: transparent;
    position:relative;
    cursor:pointer;

}
.hero-btn:hover{
    border:1px solid #1a91ff;
    background: #1a91ff;
    transition: 0.5s;
}
nav .fa{
    display: none;
}

@media(max-width:700px){

.text-box h1{

    font-size: 40px;
}
.text-box p{
    font-size: 15px;
}
.nav-links ul li{

  display: block;
}
.nav-links{
    position: absolute; 
    background: #f44336;
    height: 100vh;
    width:200px;
    top:0;
    right:-2000px;
    display: none;
    text-align: left;
    z-index:2;
    transition:1s;

}
nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size:22px;
    cursor:pointer;

}
.nav-links ul{
    padding:30px;

}

}




                                     /* About-US */

.about-us{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:100px;
}

h1{
    font-size: 36px;
    font-weight: 600px;

}

p{
    color:#777;
    font-size:14px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
}


.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    /* background: #fff3f3; */
    background:white;
    border-radius:10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin:10px 0;

}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width:700px){

    .row{
        flex-direction: column;
    }
    .course-col:hover{
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    }
    div{
        overflow-x: hidden;
    }
}

                                            /* Vision */


.vision{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:100px;
}

.vision .row{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.vision .course-col{
    flex-basis: 50%;
    background: #fff3f3;
  
    border-radius:10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}





                                            /* campus */
                                            

.campus{
    width:80%;
    margin: auto;
    text-align:center;
}
.campus-col{
    flex-basis:32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position:relative;
    overflow:hidden;
}
.campus-col img{
    width:100%;     
    display: block;

}
.layer{
    background: transparent;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    transition:0.5s;

}
.layer:hover{
    background:rgb(23, 141, 223) ;
    opacity: 0.7;
}

.layer h3{
    width:100%;
    font-weight:100;
    color:#fff;
    font-size: 18px;
    bottom:0;
    left: 50%;
    transform:translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;


}
.layer:hover h3{
bottom: 49%;
opacity: 1;


}

                                                        /* Achievments */


.achievments{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
}

.carousel {
    max-width: 600px;
    position: relative;
    margin: 0 auto;
}

.carousel .carousel-item,
.carousel .carousel-item-hidden {
    display: none; /* hide all slide images not currently being viewed */
}

.carousel .carousel-item-visible {
    display: block; /* show current slide image */
    animation: fadeVisibility 0.5s; /* for fading effect when switching between slides */
}

.carousel .carousel-item img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/* Navigation control styles */
.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between; /* put space between the navigation buttons */
    position: absolute; /* position navigation buttons on top */
    top: 50%; /* center navigation buttons on the slide */
    transform: translateY(-50%); /* align navigation buttons */
}

.carousel .carousel-actions button {
    border-radius: 50px;
    background-color: white;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.carousel .carousel-actions button#carousel-button-prev {
    margin-left: 20px; /* prevent previous button from touching the side*/
}

.carousel .carousel-actions button#carousel-button-next {
    margin-right: 20px;  /* prevent next button from touching the side*/
}

.carousel-dots {
    text-align: center; 
}

.dot {
    opacity: 0.7; /* gray out dots for slides not being visted */
}

.dot:focus {
    border: 1px solid black; /* dot for currently visited slide */
}

/* hanlde smooth transitions between slides */
@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Team Insights*/   

.team-insights{

width:80%;
margin:auto;
padding-top:100px;
text-align: center;
}

.testimonial-col{
    flex-basis: 44%;
    border-radius:10px;
    margin-bottom: 5%;
    text-align:left;
    background:#fff3f3;
    padding:25px;
    cursor:pointer;
    display:flex;

}
.testimonial-col img{

    height: 40px;
    margin-left:5px;
    margin-right:30px;
    border-radius:50%;
}
.testimonial-col p{

    padding: 0;

}

.testimonial-col h3{
    margin-top:15px;
    text-align: left;
}

.testimonial-col .fa{

    color:#f44336;
    
}

@media(max-width:700px){
    .testimonial-col img{

        margin-left:0px;
        margin-right:15px;
     
    }
}


                                                /* Contact Us */

.cta{
    margin: 100px auto;
    width:80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(contact-sup-img.png);
    background-position:center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color:#fff;
    margin-bottom:40px;
    padding: 0;

}
@media(max-width:700px) {
    .cta h1{
        font-size:24px;

    }
}
 
                                                    /********Footer*****/

.footer{
    width:100%;
    text-align: center;
    padding: 30px 0;
    
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color:#1a91ff;
    margin:0 13px;
    cursor:pointer;
    padding: 18px 0;

}
.fa-heart-o{
    color:#1a91ff;

}


                                    /*contact page */

.header-contact-us{
    min-height:50vh;
    width:100%;
  
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.location{
    width:80%;
    margin:auto;
    padding:80px 0;

}
.location iframe{
    width:100%;
}
.contact-us{
    width:80%;
    margin:auto;

}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;

}
.contact-col div{
    display:flex;
    align-items: center;
    margin-bottom: 40px;

}
.contact-col .fa{
    font-size: 28px;
    color:#f44336;
    margin:10px;
    margin-right: 30px;

}
.contact-col div p{
    padding:0;
}
.contact-col div h5{
    font-size:20px;
    margin-bottom: 5px;
    color:#555;
    font-weight: 400;
}

.contact-col input, .contact-col textarea{

    width:100%;
    padding:15px;
    margin-bottom: 17px;
    outline: none;
    border:1px solid #ccc;
    box-sizing: border-box;
}

.red-btn{
    display: inline-block;
    text-decoration: none;
    color:blueviolet;
    border:1px solid #e63333;
    padding:12px 34px;
    font-size:13px;
    background: transparent;
    position:relative;
    cursor:pointer;
}


                                                                /* Blog-Content*/
/* .header {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(blog1.jpeg);
}
 */


.blog-content{

    width:80%;
    margin: auto;
    padding:60px 0;

}
.blog-left{

flex-basis: 65%;


}
.blog-left img{
    width: 100%;

}
.blog-left h2{

    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p{
    color: #999;
    padding: 0;
}
.blog-right{
    flex-basis: 32%;


}
.blog-right h3{
background:#f44336;
color:#fff;
padding: 7px 0;
font-size: 16px;

margin-bottom: 20px;
 
}

.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;

}
.comment-box{
border: 1px solid #ccc;
margin: 50px 0;
padding: 10px 20px;

}
.comment-box h3{
text-align: left;
}

.comment-form input, .comment-form textarea{

width: 100%;
padding: 10px;
margin: 15px 0;
box-sizing: border-box;
border: none;
outline: none;
background:#f0f0f0 ;

}
.comment-form button{
    margin: 10px 0;

}

 
                                                        /*Animations*/





                                                        /*Background-Image*/

/* .container {
  position: relative;
  margin-top: 40px;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-image: url('bckg2.png');
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* .container-vision {
    position: relative;
    margin-top: 40px;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-image: url('bckg1.png');
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  

/* Changing the background opacity*/




body {
    background-color: black;
    color: white; /* Change text color to white for better visibility */
    background: linear-gradient(to bottom, rgb(40, 40, 40), rgb(0, 0, 0));
    position: relative; /* Required for ::before pseudo-element positioning */
  }
  

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.3jpg.webp.jpg');
    opacity: 0.5; /* Change the opacity value as needed (0.5 means 50% opacity) */
    z-index: -1; /* Place the pseudo-element behind the body content */
  }
  






/*  */

/* Apply CSS to the image */
.img-left {
    width: 200px;
    height: 200px;
    float: left; /* Float the image to the left */
    margin-top: 200px;
    margin-right: 20px; /* Add some margin to create space between the image and content */
}


/*TEAM PAGE*/

.arrow {
    font-size: 90px;
    padding: 0px 700px;
    padding-top: 0px;
    margin-left: -495px;
    margin-bottom: -60px;
}
